<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-3">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>

        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="svg-icon github">
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="svg-icon twitter">
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.linkedin_profile %}
          <li>
            <a href="{{ site.linkedin_profile }}">
              <span class="svg-icon linkedin">
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.google_profile %}
          <li>
            <a href="{{ site.google_profile }}">
              <span class="svg-icon googleplus">
              </span>
            </a>
          </li>
          {% endif %}
        </ul>

        <a href="http://stackoverflow.com/users/2434557/luisincrespo?theme=clean">
          <img
            src="http://stackoverflow.com/users/flair/2434557.png"
            width="208"
            height="58"
            alt="profile for luisincrespo at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
            title="profile for luisincrespo at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
        </a>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
